nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
            .sb-sidenav-menu-heading
                | Menu Utama
        
            a.nav-link(href='index.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | Dashboard

            a.nav-link(href='index.html')
                .sb-nav-link-icon
                    i.fas.fa-female
                | User
            
            a.nav-link(href='index.html')
                .sb-nav-link-icon
                    i.fas.fa-table
                | Annual Time Table
            
            a.nav-link(href='charts.html')
                .sb-nav-link-icon
                    i.fas.fa-graduation-cap
                | Classroom
                
            a.nav-link(href='tables.html')
                .sb-nav-link-icon
                    i.fas.fa-pen
                | Subject
                        
    .sb-sidenav-footer
        
        .small Logged in as:
        | 
        