<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading">Main Menu</div><a class="nav-link" href="/admin">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Dashboard
            </a><a class="nav-link" href="admin_user">
              <div class="sb-nav-link-icon"><i class="fas fa-female"></i></div>User Management
            </a><a class="nav-link" href="timetable">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>Annual Time Table
            </a><a class="nav-link" href="classroom">
              <div class="sb-nav-link-icon"><i class="fas fa-graduation-cap"></i></div>Classroom
            </a><a class="nav-link" href="subject">
              <div class="sb-nav-link-icon"><i class="fas fa-pen"></i></div>Subject
            </a>
            </a><a class="nav-link" href="attendance">
              <div class="sb-nav-link-icon"><i class="fas fa-pen"></i></div>Attendance
            </a>
          </div>
        </div>
        <div class="sb-sidenav-footer">
          <div class="small">Welcome</div>
          <div class="small"><%= user.name %></div>
          <div class="small" class="capitalize"><%= user.roles %></div>
        </div>
      </nav>
</div>