
html(lang='en')
  head
    title Sistem Penggantian Guru Sekolah
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='images/icons/favicon.ico')
    link(rel='stylesheet', type='text/css', href='https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='https://colorlib.com/etc/lf/Login_v15/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='https://colorlib.com/etc/lf/Login_v15/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
    link(rel='stylesheet', type='text/css', href='https://colorlib.com/etc/lf/Login_v15/vendor/animate/animate.css')
    link(rel='stylesheet', type='text/css', href='https://colorlib.com/etc/lf/Login_v15/vendor/css-hamburgers/hamburgers.min.css')
    link(rel='stylesheet', type='text/css', href='https://colorlib.com/etc/lf/Login_v15/vendor/animsition/css/animsition.min.css')
    link(rel='stylesheet', type='text/css', href='https://colorlib.com/etc/lf/Login_v15/vendor/select2/select2.min.css')
    link(rel='stylesheet', type='text/css', href='https://colorlib.com/etc/lf/Login_v15/vendor/daterangepicker/daterangepicker.css')
    link(rel='stylesheet', type='text/css', href='https://colorlib.com/etc/lf/Login_v15/css/util.css')
    link(rel='stylesheet', type='text/css', href='https://colorlib.com/etc/lf/Login_v15/css/main.css')
  body
    .limiter
      .container-login100
        .wrap-login100
          .login100-form-title
            span.login100-form-title-1
              | No Access You Must Login!!!
    script(src='https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/jquery/jquery.min.js', type='bd19142cc5f3bbde83e3e025-text/javascript')
    script(src='https://colorlib.com/etc/lf/Login_v15/vendor/animsition/js/animsition.min.js', type='bd19142cc5f3bbde83e3e025-text/javascript')
    script(src='https://colorlib.com/etc/lf/Login_v15/vendor/bootstrap/js/popper.js', type='bd19142cc5f3bbde83e3e025-text/javascript')
    script(src='https://colorlib.com/etc/lf/Login_v15/vendor/bootstrap/js/bootstrap.min.js', type='bd19142cc5f3bbde83e3e025-text/javascript')
    script(src='https://colorlib.com/etc/lf/Login_v15/vendor/select2/select2.min.js', type='bd19142cc5f3bbde83e3e025-text/javascript')
    script(src='https://colorlib.com/etc/lf/Login_v15/vendor/daterangepicker/moment.min.js', type='bd19142cc5f3bbde83e3e025-text/javascript')
    script(src='https://colorlib.com/etc/lf/Login_v15/vendor/daterangepicker/daterangepicker.js', type='bd19142cc5f3bbde83e3e025-text/javascript')
    script(src='https://colorlib.com/etc/lf/Login_v15/vendor/countdowntime/countdowntime.js', type='bd19142cc5f3bbde83e3e025-text/javascript')
    script(src='https://colorlib.com/etc/lf/Login_v15/js/main.js', type='bd19142cc5f3bbde83e3e025-text/javascript')
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-23581568-13', type='bd19142cc5f3bbde83e3e025-text/javascript')
    script(type='bd19142cc5f3bbde83e3e025-text/javascript').
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-23581568-13');
    script(src='https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js', data-cf-settings='bd19142cc5f3bbde83e3e025-|49', defer='')