
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Relief Timetable and Attendance System</title>
    <!-- Bootstrap Core CSS-->
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom Fonts-->
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <!-- Custom CSS-->
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/css/stylish-portfolio.min.css" rel="stylesheet" />
  </head>
  
  <body id="page-top">
    <!-- Navigation--><a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand"><a class="js-scroll-trigger" href="#page-top">Start Bootstrap</a></li>
        <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#page-top">Home</a></li>
        <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#about">About</a></li>
        <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#services">Services</a></li>
        <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#portfolio">Portfolio</a></li>
        <li class="sidebar-nav-item"><a class="js-scroll-trigger" href="#contact">Contact</a></li>
      </ul>
    </nav>
    <!-- Header-->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">RTAS </h1>
        <h3 class="mb-1">Relief Timetable and Attendance System</h1>
        <h3 class="mb-5"><em>For Primary School</em></h3><a class="btn btn-primary btn-xl js-scroll-trigger" href="/login">Login</a>
      </div>
      <div class="overlay"></div>
    </header>
    <!-- Bootstrap core JavaScript-->
    <script src="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/jquery/jquery.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript-->
    <script src="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template-->
    <script src="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/js/stylish-portfolio.min.js"></script>
  </body>
  
  </html>
   