//- add-task.jade
html
    head
        title=title
        link(rel="stylesheet",href="/stylesheets/style.css",type="text/css")
    body
        div.container
            div.top-menu
                h1.page-heading Add Task
                ul
                    li
                        a(href='/') Home
                    li
                        a(href='/about') About
                    li
                        a(href='/contact') Contact
                    li
                        a(href='/crud') CRUD
            div.page-content
                p.page-description We are adding task
                hr
                form(action='/crud/add',method='post')
                    p=msg
                    table(cellpadding="10",cellspacing="10")
                        tr
                            td
                                label(for="title") Title
                            td
                                input(type="text",name="title")
                        tr
                            td
                                label(for="title") Description
                            td
                                textarea(cols="22",name="description")
                        tr
                            td(colspan="2",align="right")
                                input(type="submit")