<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Main Menu</div>
          <a class="nav-link" href="/creator">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Dashboard
          </a>
          <a class="nav-link" href="/attendance">
            <div class="sb-nav-link-icon"><i class="fas fa-hourglass"></i></div>Attendance Management
          </a>
          <a class="nav-link" href="timetable">
            <div class="sb-nav-link-icon"><i class="fas fa-female"></i></div>Annual Time Table
          </a>
          <a class="nav-link" href="timetable_relief">
            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>Replacement Teacher 
          </a>
          <a class="nav-link" href="settings">
            <div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>Profile and Settings
          </a>
          </a><a class="nav-link" href="logout">
            <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>Log Out
          </a>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">User Information </div>
        <div class="small"><%= user.name %></div>
        <div class="small" class="capitalize"><%= user.roles %></div>
      </div>
    </nav>
</div>